nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px 5px;
    box-shadow: 0 5px 15px rbga(0,0,0,0, 0.06);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
}

.search {
    border-radius: 23px;
    border: 2px solid black;
    height: 34px;
    width: 350px;
    padding: 0px 34px;
}
.navbar li,a{
    font-size: 1.3rem;
    font-weight: 600;
}
  

/* .navbar li a:hover{
    background-color: skyblue;
    color: white;
    border-radius: 10px;
    padding: 2px;
} */


  
