/* Common styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 15px;
  position: relative;
}

.navbar li,a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
}
.search {
  width: 100%;
  max-width: 300px;
  margin-left: -125%;
  padding: 6% 119%;
  border: 2px solid black;
  border-radius: 28px;
}
.nav{
  height: 5%;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  .navbar {
    margin-top: 10px;
  }

  .navbar li {
    padding: 5px 0;
    text-align: center;
  }

  .search {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    padding: 5px 15px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 2%;
  padding-top: 10%;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Additional styling for dropdown items */
.dropdown-content li {
  margin-left: -30%;
  padding: 8px 8px;
}
.dropdown ul{
  margin-left: 0;
}
